:root {
  --color-primary: #000000;
  --color-secondary: #121212;
  --color-tertiary: #343434;
  --color-quaternary: #ffffff;

  /* Gradients */
  --gradient-color: linear-gradient(180deg, #7076ff 0%, #ff0000 100%);
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
a {
  text-decoration: none;
  color: white;
}
